<div class="container regForm">
  <h2>Register</h2>
  <p>Hi welcome aboard!</p>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Your Email">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" placeholder="Password">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" placeholder="Re-type Password">
  </div>
  <button class="btn">Register!</button><br/><br/>
  <a routerLink="/">Already have an account?</a>
</div>
