<div class="container regForm">
  <h2>Register</h2>
  <p class="intro">Hi, welcome aboard!</p>
  
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Your Email">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" placeholder="Password">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" placeholder="Retype Password">
  </div>
  <br/>
  <button class="btn btn btnFull btn-medium btn-flat white-text bgGradient">Register</button><br/><br/><br/>
  <a routerLink="/">Already have an account?</a>
</div>
