<div class="container page">
  <div class="card">
    <div class="row">
      <div class="col-xs-9">
        <h1>Trust me</h1>
      </div>
      <div class="col-xs-3">
        <span class="badge">A lot yo</span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        Location lul
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        3 minutes left
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <span class="badge">Halal</span>
      </div>
    </div>
    <div class="cardBtn"><h2>View Tables</h2></div>
  </div>
</div>
