img {
	border-radius: 50%;
}


.rank {
	font-size: 0.7em;
	color: gray !important;
}

.name {
	margin: 0px;

}



.badge {
	margin: 0px;
	padding: 0px;
}


.email {
	margin-top: -10px;
	padding-top: 0px;
}

.logoutSection {
	padding-top: 20vh;
}