//@icon-font-path: "../node_modules/materialize-css/fonts/roboto";
//@import "../node_modules/materialize-css/sass/materialize";

.page{
  position: relative;
  top: 25vh;
}

.cardBtn{
  text-align: center;
  background-color: white;
  color: black;
}

/* label focus color */
 input:focus + label {
   color: #f57c00 !important;
 }
 /* label underline focus color */
 input:focus {
   border-bottom: 1px solid #f57c00 !important;
   box-shadow: 0 1px 0 0 #f57c00 !important
 }